.row
  .col-6.offset-3.mt-4
    .row.mt-4
      .col-7
        = video_embed_url_generator("http://www.youtube.com/watch?v=nOEw9iiopwI")
        
      .col-5
        %p asjkdhakjsdhaskjdhkajsd
    .row.mt-4
      .col-7
        = video_embed_url_generator("http://www.youtube.com/watch?v=nOEw9iiopwI")
        
      .col-5
        %p asjkdhakjsdhaskjdhkajsd
:javascript
  new MediaElementPlayer('#player1');